* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    min-width: 320px;
    color: #1e1e1e;
    font-weight: 500;
    line-height: 1.75em;
    background-color: #ccc;
    padding: 5px;

}


nav {
    min-width: 290px;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    border: 1px solid #1e1e1e;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ccc;
    /* background: #138FC2; */
}

nav ul {
    padding: 8px;

}

nav ul li {
    list-style: none;
    padding: 5px;
    border: 1px solid #777;
    background: #002b36;
    width: 100%;
    padding-top: 10px;
    margin-top: 5px;
    padding-left: 30px;
    /* background:  #ccc; */

}

nav ul li:hover,
nav ul li:focus {
    border: 1px solid #ffffff;
    border-bottom: 3px solid #ffcc00;
    color: #fff;

}

nav ul li:hover a{
    /* color: red; */
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #fff;
    display: block;
    text-align: left;

}

img{
    width: 100%;
    height: auto;
    display: block;
}

main {
    margin-left: 320px;
    text-align: left;
    
}

main header{
    font-size: 1.9em;
}

main h2 {
    color: black;
    font-size: 1.2em;
    
}

main section {
    margin:0 auto;
    padding: 10px;
    text-align: left;
    /* background: red; */
    border-bottom:2px ridge #002b36;
}

main section div {
    /* margin: 10px; */
    margin-bottom: 25px;
    line-height: 1.85;
}

main section code {
    white-space: pre-wrap;
    border-radius: 4px;
    border: 4px solid #f5f5f5;
    width: 100%;
    height: 100%;
    text-align: left;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #002b36;
    color: #839496;
   
}

/* media queries */

@media only screen and (max-width:768px){
   
nav {
    position:absolute;
    top:10px;
    max-height: 270px;
    width:100%;
    z-index: 1;
    border: none;
    background-color: rgba(236, 229, 229, 0.911);  
    padding: 15px;
    margin: 0;
}

nav ul li{
    text-align:left;
}


main{
    position: relative;
    top: 300px;
    width: 100%;
    margin:0 auto;
    padding: 0;
    z-index: 2;  
}


}

@media only screen and (max-width:400px){
    
}